<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGetFeed" value="https://pkgs.dev.azure.com/CRISPpointsolutions/_packaging/NuGetFeed/nuget/v3/index.json" />
    <add key="utilities" value="https://pkgs.dev.azure.com/CRISPpointsolutions/PointSolutions/_packaging/utilities/nuget/v3/index.json" />
  </packageSources>
</configuration>